<header class="header">
    <div class="header-wrapper container">
        <div class="header__logo">
            <a href="/home"><img src="../../../../../assets/logo.svg" alt="Logo and home button"></a>
        </div>
        <nav class="auth-nav">
            <a href="/sign-in">Sign in</a>
            <a href="/sign-up">Sign up</a>
        </nav>
    </div>
</header>
<div class="login-page-wrapper">
    <div class="container">
        <div class="flex-row-wrapper">
            <div class="image-wrapper">
                <img src="../../../../assets/man.png" alt="man_with_laptop">
            </div>
            <div class="children-container">
                <h1>Login</h1>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>